<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Compras Inteligentes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>Compras Inteligentes</h1>
   <nav>
  <ul class="menu">
    <li><a href="{{ url_for('relatorio') }}">Ver relatório de menor preço</a></li>
 <!--  <li><a href="{{ url_for('lista') }}">Lista de Compras Inteligente</a></li> -->   
    <li><a href="{{ url_for('pesquisa') }}">Pesquisa de produtos</a></li>
<li><a href="{{ url_for('tabela') }}">Tabela Geral</a></li>
  </ul>
</nav>
  </header>

  <main>
   <h3>Registrar Nova Compra</h3>
  <form action="/adicionar" method="POST">
     <!-- ITEM COM SUGESTÕES E DIGITAÇÃO LIVRE -->
<label>Item:
  <input list="itens" name="item" required>
  <datalist id="itens">
    {% for nome in itens %}
      <option value="{{ nome }}">
    {% endfor %}
  </datalist>
</label><br>

   <!-- CATEGORIA COM SUGESTÕES E DIGITAÇÃO LIVRE -->
<label>Categoria:
  <input list="categorias" name="categoria" required>
  <datalist id="categorias">
    {% for cat in categorias %}
      <option value="{{ cat }}">
    {% endfor %}
  </datalist>
</label><br>
    <label>Valor (R$): <input type="text" name="valor" required></label><br>
    <!-- LOCAL COM SUGESTÕES E DIGITAÇÃO LIVRE -->
<label>Local da Compra:
  <input list="locais" name="local" required>
  <datalist id="locais">
    {% for loc in locais %}
      <option value="{{ loc }}">
    {% endfor %}
  </datalist>
</label><br>
    <label>Data: <input type="date" name="data" required></label><br>
    <button type="submit">Salvar</button>
  </form>

  <hr>
</body>
</html>
