<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Compras Inteligentes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>Compras Inteligentes</h1>
   <nav>
  <ul class="menu">
    <li><a href="{{ url_for('relatorio') }}">Ver relatório de menor preço</a></li>
    <li><a href="{{ url_for('lista') }}">Lista de Compras Inteligente</a></li>
    <li><a href="{{ url_for('pesquisa') }}">Pesquisa de produtos</a></li>
    <li><a href="{{ url_for('tabela') }}">Teste tabela</a></li>
  </ul>
</nav>
  </header>

  <main>
   <h3>Registrar Nova Compra</h3>
  <form action="/adicionar" method="POST">
      <label>Item: <input type="text" name="item" required></label><br>
    <label>Categoria:
      <select name="categoria">
        {% for cat in categorias %}
          <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
      </select>
    </label><br>
    <label>Valor (R$): <input type="text" name="valor" required></label><br>
    <label>Local da Compra: <input type="text" name="local" required></label><br>
    <label>Data: <input type="date" name="data" required></label><br>
    <button type="submit">Salvar</button>
  </form>

  <hr>
</body>
</html>
